.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 10vh; */
  /* vertical-align: auto; */
}
.search-result{
  margin: 2vh;
  font-size: medium;
  color:black;
  
}
.heading{
  font-weight: bold;
  font-size: xx-large;
  margin: 4vh;
  text-align: center;
}

.filters{
margin: 4vh;
max-width: 8vh;
}

#searchBar{
width: 200;
}
#searchButton{
margin-top: 2em;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
